<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title NSJJ Club
body
  h1 North Shore Jiu-Jitsu Club
  span
    ul
      a(href="#") HOME
      a(href="#") SCHEDULE
      a(href="#") CONTACT
  