<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='css/styles.css', type='text/css')
    title NSJJ Club

  body
    h1 North Shore Jiu-Jitsu Club
    div
      a(href="#") HOME
      a(href="#") SCHEDULE
      a(href="#") CONTACT
