<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='css/styles.css', type='text/css')
    title NSJJ Club

  body
    block content
    .content-nav
      header.header-primary
        //- logo link directs back to homepage
        a.logo(href='/')
          img(src='./assets/nsjj_web_logo.png' width='216' height='144' alt='NSJJ Logo')
   
        
        //- header-primary__links
        nav#nav-primary.header-primary__navigation.nav-primary
          ul.nav-primary__items
            li.nav-item
              a.nav-link(href='/') HOME
            li.nav-item
              a.nav-link(href='/schedule') SCHEDULE
            li.nav-item
              a.nav-link(href='/contact') CONTACT
              
        ul.header-social__links
          li
            a.header-social__links.icon.facebook(href='https://www.facebook.com/nsjjclub', target='_blank') facebook
          li
            a.header-social__links.icon.twitter(href='https://twitter.com/nsjjclub', target='_blank') twitter
     
    main.content-primary
      .content-container
     